{% extends 'base.html.twig' %} {% block title %}Hello StaticController!{% endblock %} {% block body %}

<div class="home-hero">
    <div class="home-text fs-2">Get inspired by our selection <br> of the <em>best</em> Recipes in town! <br>
        <div><a href="/register">Register</a>
            <a href="/login">Login</a></div>
    </div>
</div>


{% endblock %}