<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand logo-font" id="logo">Taste</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {% if is_granted("ROLE_ADMIN") %}<a class="nav-link active" aria-current="page" href="/admin/recipes">Home</a> {% else %}
                <a class="nav-link active" aria-current="page" href="/user/">Home</a>{% endif %} {% if is_granted("ROLE_ADMIN") %}
                <a class="nav-link" href="/admin/create">Create new Recipe</a> {% endif %}
            </div>

        </div>
    </div>
    {% if (is_granted("ROLE_ADMIN")) or (is_granted("ROLE_USER")) %}
    <a class="nav-link me-3 w-100" href="/logout"><i class="fa-solid fa-arrow-right-from-bracket me-2"></i>Logout</a> {% endif %}


</nav>